header{
    max-width:1130px;
    margin-right: 150px;
    margin-left: 150px;
    color:black;
    font-size: 20px;
    
}
header nav{
    display:flex;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item > ul{
    display: flex;
    justify-content: space-around;
    gap:10px;
    
} 
.nav-item li{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}
.nav-item li a{
    text-decoration: none;
    color:black;
}
nav>.logo{
    display:flex;
    gap:10px;
}
nav img{
  height: 50px;
  width: 50px;  
}
.travel{
    color:orangered;
}
.banner{
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;

    margin-top: 10px;
    margin-left: 140px;
    margin-right:140px;
    text-align: center;
    color:white;
    border-radius: 10px;
    padding:120px;

}
input{
    color:gray;
    border: 5px solid transparent;
    font-size: 20px;
}
.banner-data{
    background-color:FFFFFF;
    display: flex;
    
    gap:10px;
    
}
.btn-primary{
    background-color: red;
    color:white;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.popular-section{
    display:flex;
    margin-top: 10px;
    font-weight: bold;
    font-weight: bold;

    margin-left: 140px;
    margin-right:140px;
    
}
.popular-rightside img{
width: 90%;
margin-top: 10px;
}
.destination{
    text-align: center;
}
.country-image{
    margin-left: 140px;
    margin-right: 140px;
}
.twoimage{
   display: flex;
    gap:10px;
    margin-bottom: 10px;
}
.threeimage{
   display: flex;
   gap:15px;
   margin-bottom: 10px;
}
.last-twoimage{
    display: flex;
    gap:10px;
    
 }
 .chose-description{
    text-align: center;
 }
 .hotel-description{
    display:flex;
    gap:50px;
    margin-top:30px;
    margin-left: 140px;
    margin-right:140px;
  

 }
 .leftside{
    background-color: aquamarine;
    border-radius: 10px;
    padding:10px;
 }
 .rightside{
    background-color: plum;
    border-radius: 10px;
    padding:10px;
 }
 .price-description{
    background-color: darksalmon;
    margin-top: 10px;
    margin-left:250px;
    margin-right: 140px;
    width: 40%;
    border-radius: 10px;
    
 }
 .discount{
    text-align: center;
 }
 .login{
    display: flex;
    gap:20px;
    margin-top: 10px;
    margin-left: 140px;
    margin-right: 140px;

 } 
 .login img{
    width: 100%;
 }
 .login-leftside{
    border:2px solid orangered;
    border-radius: 10px;
    padding: 15px;
 }
 .login input{
    background-color: whitesmoke;
    font-size: 20px;
    
 }
 .endingsection{
    margin-top: 5px;
    background-color: grey;
    text-align: center;
 }
.footer-logo{
    display: flex;
    justify-content: center;
    padding:20px;
    gap:20px;
    font-weight: bold;

}
.social-icon{
    font-size: 40px;
}

@media screen and (max-width:576px){
    /*nav bar responsive*/
    header{
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        font-size: 16px;
        
    }
    /*nav bar responsive*/
  .banner{
    margin-left: 15px;
    margin-right: 15px;
    padding:80px;
  }
    .banner-data{
        display: flex;
        flex-direction: column;
       
    }
    input{
        font-size: 10px;
        font-size: 20px;
        
    }
    .popular-section{
        margin-top: 10px;
        display:flex;
        flex-direction: column;
         
        
    }
    
    .twoimage{
        display: flex;
        flex-direction: column;
        gap:10px;   
    }
    .threeimage{
        display: flex;
        flex-direction: column;
        gap:10px;
     }
     .last-twoimage{
        display: flex;
        flex-direction: column;
        gap:10px;
     }


.hotel-description{
    display:flex;
    flex-direction: column;
} 
.price-description{
    margin-top: 20px;
    margin-left:140px;
    margin-right:90px;
    padding: 20px;
}
.login{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:5px; 
    /* margin-left:40px;
    margin-right: 40px; */

}
.login input{
    background-color: whitesmoke;
    font-size: 16px;
    
 }
}